@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway&family=Roboto&family=Source+Serif+Pro:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@400;900&family=Raleway&family=Roboto&family=Source+Serif+Pro:ital,wght@0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;

}
body{
    background-color: white;
    
}
.logo img{
    width: 8.7vw; 

}
.list-intro li{
    text-transform: capitalize;
    font-size: 1.2vw;
    color: #9767A9;
}
.list-intro li:hover{
    cursor: pointer;
    font-weight: 900;
}
.list-intro ul{
    width:50vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
    
    
}
.form-intro img{
    height: 3vw;
}
.form-intro{
    height: 2vw;
    background-image: url("./imgs/lupa.png");
    background-position: 0.8vw;
    background-position: 0.5vw;
    background-repeat: no-repeat;
    border:2px solid #9767A9;
    border-radius: 20px;
}
.form-conteiner{
    
    height:2vw;
}
.emoji img{
    margin-left:0.5vw;

}
.emoji{
    width:3vw;
    height:3vw;
    display: flex;
    position: relative;
    top: 0;
    right:5vw;
    
}
header{
    height: 6.7vw;
    
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border: black solid;
}

.img-main{
    height:40vw;
    background-image: url("./imgs/cabeludo.png");
    background-repeat: no-repeat;
    background-size:100vw;
    position: relative;
    
}
.title-intro{
    color: #FFFFFF;
    width: 20vw;
    font-size: 4vw;
    font-family: 'Playfair Display', serif;
    position: relative;
    top:-40vh;
    left:10vw;
    
}
.title-intro-two{
    width: 29vw;
    font-weight: 300;
    font-size: 2vw;
    color: #FFFFFF;
    position: relative;
    top:-54vh;
    left:65vw;
   

}
.img-main img{
    width:100vw;
}
.title-text{
    font-family: 'Playfair Display', serif;
    width:50vw;
    color: #FFFFFF;
    font-size:3.5vw;
    display: flex;
    align-items:center;
}
.text{
    width:40vw;
    font-size:1.5vw;
}
.div-text{
    width: 100%;
    height:20vw;
    background-color:#9767A9;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    color: white;
    position: relative;
}
.first-img img{
    width:40vw;  
}
.first-img{
    position: relative;
    top:0vh;
    left: 5vw;
    width:30vw;
    
}
.first-title{
    color: #FFFFFF;
    height: 15vh;
    margin: 20px;
    font-size: 3.5vh;
    font-family: 'Playfair Display', serif;
    font-size: 2.2vw;
    display: flex;
    
 
}
.first-text{
    color: #FFFFFF;
    height: 50vw;
    margin:2vw;
}
.first-contain{
    position: relative;
    width: 30vw;
    height:30vw;
    background-color: #9767A9;
    display: flex;
    flex-direction:column;
    position: relative;
    top:-10vw;
    left: 10vw;
    
    
}
.container{
    height:54vw;
    width: 48%;
    position:relative;
    top:-5vh;
    left:3vw;
    border: solid green;
    
}

.two-img img{
    width:40vw;
}
.two-img{
    position: relative;
    top:0vh;
    right:1vw;
    width:40.5vw;
}
.two-title{
    color: #FFFFFF;
    height: 15vw;
    width:30vw;
    font-size: 3.5vh;
    font-family: 'Playfair Display', serif;
    font-size: 2.2vw;   
    display: flex;
    align-items: center;
    justify-content: center;  
}
.two-contain{
    width: 30vw;
    height:25vw;
    background-color: #9767A9;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: relative;   
    top:-5vw;
    left:0vw;
    border: solid blue;
}
.container-two{
    height:55vw;
    width:45vw;
    position: relative;
    top:-56vh;
    left:50vw;
    border: solid red;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: relative;
}

.three-img img{
    width:40vw;
}
.three-img{
    position: relative;
    top:-52vw;
    left:0vw;
    width:30vw;
}
.three-title{
    color: #FFFFFF;
    height:10vw;
    width:20vw;
    font-size: 3.5vh;
    font-family: 'Playfair Display', serif;
    font-size: 2.2vw;   
    display: flex;
    align-items: center;
    justify-content: center;  
    border:red solid;
}
.three-text{
    height:20vh;
    margin:2vh;
    border: black solid;
}
.three-contain{
    position: relative;
    width: 30vw;
    height:28vw;
    background-color: #9767A9;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: relative;   
    top:-60vw;
    left:5vw; 
    color: white;
    border: solid blue;
}
.container-three{
    position: relative;
    width: 30vw;
    height:25vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    top:0vh;
    left: 10vw;
    border:solid yellow;
}



.four-img img{
    width:40vw;
}
.four-img{
   position: relative;
   top:-29vw;
   left:5vw;
    
}
.four-title{
    color: #FFFFFF;
    height:10vw;
    width:20vw;
    font-size: 3.5vw;
    font-family: 'Playfair Display', serif;
    font-size: 2.2vw;   
    display: flex;
    align-items: center;
    justify-content: center;  
    border:red solid;
}
.four-text{
    height:20vw;
    margin:2vh;
    border: black solid;
}
.four-contain{
    position: relative;
    width: 30vw;
    height:28vw;
    background-color: #9767A9;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: relative;   
    top:-40vw;
    left:10vw; 
    color: white;
    border: solid blue;
}
.container-four{
    height:60vw;
    width:40vw;
    position:relative;
    left:45vw;
    top:-25vh;
}
.five-img img{
    width:40vw;
}
.first-img{
    position: relative;
    top:0vw;
    left:0vw;
}
.five-title{
    color: #FFFFFF;
    height:10vw;
    width:20vw;
    font-size: 3.5vw;
    font-family: 'Playfair Display', serif;
    font-size: 2.2vw;   
    display: flex;
    align-items: center;
    justify-content: center;  
    border:red solid;
}
.five-text{
    height:20vw;
    margin:2vh;
    border: black solid;
}
.five-contain{
    position: relative;
    width: 30vw;
    height:28vw;
    background-color: #9767A9;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: relative;   
    top:0vw;
    left:00vw; 
    color: white;
    border: solid blue;
}
.container-five{
    height:62vw;
    width:42vw;
    position:relative;
    left:8vw;
    top:-69vw;
    border: grey solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img-1{
    height:45vh;
    position: relative;
    
}
.img-2{
    width:11.5vw;
    height: 23vh;
    

}
.img-3{
    width:13vw;
    height:45vh;
    
}
.img-4{
    height:95%;  
}
.img-5{
    height:25vh;
    width: 15vw;
   

}
.img-6{
    width:30vh;
    height:25vh;
     position: absolute;
     top:46vh;
     left: 0;
}
.img-7{
    width:20vh;
    height:21vh;
     position: absolute;
     top:24vh;
     left:17.5vw;

}
.img-8{
    width:20vh;
    height:25vh;
     position: absolute;
     top:46vh;
     left:17.5vw; 
}
.img-9{
    width:23vh;
    height:25vh;
     position: absolute;
     top:46vh;
     left:29.5vw; 
}
.img-10{
    width:15vw;
    height:45vh;
     position:relative;
     top:27vh;
     right:15vw; 
     
}
.fotos img{
    margin: 5px;
}
.fotos{
    width:80vw;
    height:75vh;
    position: relative;
    bottom:-190vh;
    left:10vw;
    display: flex;
    border: solid red;
}

.footer-text{
    color: white;
    font-size: 1.5vh;
    
}
.pag-div{
    width:20vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pag-text{
    
    height: 100%;
    width:30%;
    color: white;
}

.div-footer{
    width: 30vw;
    display: flex;
    align-items: center;
    
}
footer{
    border:solid hotpink;
    width: 100%;
    height: 10vh;
    background-color:#9767A9;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
