@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway&family=Roboto&family=Source+Serif+Pro:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@400;900&family=Raleway&family=Roboto&family=Source+Serif+Pro:ital,wght@0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;

}
body{
    background-color:#FFFFFF;
}

.logo img{
    width: 8.7vw;

}
.list-intro li{
    height: 2vw;
    text-transform: capitalize;
    font-size: 1.2vw;
    color: #9767A9;
}
.list-intro li:hover{
    cursor: pointer;
    font-weight: 900;

}
.list-intro ul{
    height:1.5vw;
    width:50vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.form-intro img{
    width:1vw;
}
.form-intro{
    width:10vw;
    height: 2vw;
    background-image: url("./imgs/lupa.png");
    background-position: 0.8vw;
    background-position: 0.5vw;
    background-repeat: no-repeat;
    border:0.2vw solid #9767A9;
    border-radius:1vw;
   
}

.form-conteiner{ 
    height:2vw;
    
}
.emoji img{
    height: 2.5vw;
    margin-left:0.2vw;
   
}
.emoji{
    width:10vw;
    height:3vw;
    
    
}
header{
    width: 100vw;
    position: fixed;
    height: 6.7vw;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    z-index:100;
    
}
.img-main img{
   width:100vw; 
    
}
.img-main{
    background-size:contain;
    background-repeat: no-repeat;
    background-color:#9767A9;

}
.title-intro{
    color:#FFFFFF;
    width: 20vw;
    height:10vw;
    font-size: 4vw;
    font-family: 'Playfair Display', serif;
    position:absolute;
    top:20vw;
    left:10vw;
    
    
}
.title-intro-two{
    height:10vw;
    width: 29vw;
    font-weight: 300;
    font-size: 2vw;
    color: #FFFFFF;
    position:absolute;
    top:22vw;
    left:65vw;
    color:#FFFFFF;
}
.title-text{
    font-family: 'Playfair Display', serif;
    width:50vw;
    color: #FFFFFF;
    font-size:3.5vw;
    display: flex;
    align-items:center;
}
.text{
    width:40vw;
    font-size:1.5vw;
}
.div-text{
    width: 100%;
    height:20vw;
    background-color:#9767A9;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    color: white;
}
.first-img img{
    width:40vw;  
}
.first-img{
    position: relative;
    top:0vh;
    left: 5vw;
    width:30vw;
    
}
.first-title{
    color: #FFFFFF;
    height: 15vh;
    margin: 20px;
    font-size: 3.5vh;
    font-family: 'Playfair Display', serif;
    font-size: 2.2vw;
    display: flex;
    
 
}
.first-text{
    color: #FFFFFF;
    height: 50vw;
    margin:2vw;
}
.first-contain{
    position: relative;
    width: 30vw;
    height:28vw;
    background-color: #9767A9;
    display: flex;
    flex-direction:column;
    position: relative;
    top:-10vw;
    left:5vw;
    
    
}
.container{
    height:54vw;
    width:40.5vw;
    position:relative;
    top:-5vh;
    left:10vw;   
}

.two-img img{
    width:40vw;
}
.two-img{
    position: relative;
    top:0vw;
    right:1vw;
    width:40.5vw;
}
.two-title{
    color: #FFFFFF;
    height: 15vw;
    width:30vw;
    font-size: 3.5vh;
    font-family: 'Playfair Display', serif;
    font-size: 2.2vw;   
    display: flex;
    align-items: center;
    justify-content: center;  
}
.two-contain{
    width: 30vw;
    height:25vw;
    background-color: #9767A9;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: relative;   
    top:-5vw;
    left:0vw;
    
}
.container-two{
    height:55vw;
    width:45vw;
    position:absolute;
    top:98vw;
    left:49vw;
    display: flex;
    align-items: center;
    flex-direction:column;
}

.three-img img{
    width:40vw;
}
.three-img{
    width:40vw;
}
.three-title{
    color: #FFFFFF;
    height:10vw;
    width:20vw;
    font-size: 3.5vh;
    font-family: 'Playfair Display', serif;
    font-size: 2.2vw;   
    display: flex;
    align-items: center;
    justify-content: center;  
    
}
.three-text{
    height:20vw;
    margin:2vh;

}
.three-contain{
    position: relative;
    width:30vw;
    height:16vw;
    background-color: #9767A9;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: relative;   
    top:-5vw;
    left:0vw; 
    color: #FFFFFF;
   
}
.container-three{
    position:absolute;
    width:50vw;
    height:45vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    top:132vw;
    left:5vw;
}



.four-img img{
    width:40vw;
}
.four-title{
    color: #FFFFFF;
    height:10vw;
    width:20vw;
    font-size: 3.5vw;
    font-family: 'Playfair Display', serif;
    font-size: 2.2vw;   
    display: flex;
    align-items: center;

    
}
.four-text{
    height:20vw;
    margin:2vh;

}
.four-contain{
    position: relative;
    width:30vw;
    height:25vw;
    background-color: #9767A9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    position: relative;   
    top:-5vw;
    left:0vw; 
    color: white;

}
.container-four{
    height:54vw;
    width:40vw;
    position:absolute;
    left:52vw;
    top:160vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.five-img img{
    width:40vw;
}
.first-img{
    position: relative;
    top:0vw;
    left:0vw;
}
.five-title{
    color: #FFFFFF;
    height:10vw;
    width:25vw;
    font-size: 3.5vw;
    font-family: 'Playfair Display', serif;
    font-size: 2.2vw;   
    display: flex;
    align-items: center;
    justify-content: center;  
    
}
.five-text{
    height:20vw;
    margin:2vh;
}
.five-contain{
    width: 30vw;
    height:28vw;
    background-color: #9767A9;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: relative;   
    top:-5vw;
    left:00vw; 
    color: white;
}
.container-five{
    height:57vw;
    width:42vw;
    position:absolute;
    left:10vw;
    top:193vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.six-img img{
    width: 40vw;
}
.six-img{
    position: relative;
    top:0vw;
    left:0vw; 
}
.six-title{
    color: #FFFFFF;
    height:5vw;
    width:30vw;
    font-size: 3.5vw;
    font-family: 'Playfair Display', serif;
    font-size: 2.2vw;   
    display: flex;
    align-items: center;
    justify-content: center;  
}
.six-text{
    width:25vw;
    height:15vw;
    margin:1vw;
}
.six-contain{
    width: 30vw;
    height:28vw;
    background-color: #9767A9;
    display:flex;
    align-items: center;
    flex-direction:column;
    color: white;
    position:relative;
    top:-10vw;
    left:0vw; 
}
.container-six{
    height:47vw;
    width:42vw;
    position:absolute;
    left:51vw;
    top:225vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.seven-img img{
    width: 40vw;
}
.seven-img{
    position: relative;
    top:0vw;
    left:0vw;  
}
.seven-title{
    color: #FFFFFF;
    height:5vw;
    width:30vw;
    font-size: 3.5vw;
    font-family: 'Playfair Display', serif;
    font-size: 2.2vw;   
    display: flex;
    align-items: center;
    justify-content: center;  
   
}
.seven-text{
    width:25vw;
    height:15vw;
    margin:2vh;    
}
.seven-contain{
    width: 30vw;
    height:17vw;
    background-color: #9767A9;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:column;
    color: white;
    position:relative;
    top:-5vw;
    left:0vw;     
}
.container-seven{
    height:47vw;
    width:42vw;
    position:absolute;
    left:10vw;
    top:258vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.fio img{
    width:40vw;
}
.fio{
    width:40vw;
    position:absolute;
    top:280vw;
    left:55vw;
}
 
.img-1{
    width:20vw;
    height:30vw;
    
}
.img-2{
    width:13vw;
    height:15vw;
}
.img-3{
    width:13vw;
    height:30vw;
    
}
.img-4{
    width:21vw;
    height:44vw;  
}
.img-5{
    height:12vw;
    width:12vw;
}
.img-6{
    width:20vw;
    height:13vw;
     position: absolute;
     top:31vw;
     left:0vw;
}
.img-7{
    width:13vw;
    height:14.5vw;
     position: absolute;
     top:15.5vw;
     left:21vw;

}
.img-8{
    width:13vw;
    height:13vw;
     position: absolute;
     top:31vw;
     left:21vw; 
}
.img-9{
    width:13vw;
    height:13vw;
     position: absolute;
     top:31vw;
     left:35vw; 
}
.img-10{
    height:31vw;
    width:12vw;
     position:absolute;
     top:13vw;
     left:71vw; 
     
}
.fotos img{
    margin:0.5vw;
}

.fotos{
    width:90vw;
    height:45vw;
    position:absolute;
    top:310vw;
    left:5vw;
    display: flex;
}

.footer-text{
    color: white;
    font-size: 1vw;
    
}
.pag-div{
    width:20vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pag-text{
    width:2vw;
    color: white;
}

.div-footer img{
    width:2vw;
}
.div-footer{
    width: 30vw;
    display: flex;
    align-items: center;
    
}
footer{
    border:solid hotpink;
    width: 100%;
    height:7vw;
    background-color:#9767A9;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    top:360vw;
    left:0 ;
}
@media (min-width:320px) and (max-width:425px){
    .logo img{
        width:13vw;
    }
    .list-intro{
        display: none;
        width: 100%;
    }
    .nav{
        display: none;
    }
    .form-conteiner{
        display: none;   
    }
    .emoji{
        display: none;
       
    }
    body{
        width:100%;
        background-color: blue;
    }
    header{
        width:100vw;
        height:10vw;
        display:flex;
        align-items: center;
        justify-content: center;
        
    }
    .img-main img{
        width:100vw;
    }
    .img-main{
        height: auto;
        width:100vw;        
        background-size:contain;
    }
    .title-intro{
        width:40vw;
        height:30vw;
        font-size:10vw;
        
    }
    .title-intro-two{
        font-size: 5vw;
        height:20vw;
        width:50vw;
        position:absolute;
        top:50vw;
        left:10vw;
    }
    .title-text{
        height:25%;
        width:85%;
        font-size:5vw; 
    }
    .text p{
        margin:2vw;
    }
    .text{
        margin:2vw;
        width:85%;
        height:70%;  
        font-size: 3vw;
    }
    .div-text{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height:70vw;
    }
    .first-img img{
        width:100vw;
    }
    .first-img{
        position: relative;
        top:10vw;
        left:-10vw;
        width:100vw;
        position:none;
    }
    .first-title{
        width:80vw;
        font-size:5vw;
        height:20vw;
    }
    .first-text p{
        margin: 1.5vw;
    }
    .first-text{
        width:80vw;
        height:90vw;
        font-size:4vw;
        position: relative;
        top:-10vw;
        left:0;
    }
    .first-contain{
        position: relative;
        top:0;
        left:-10vw;
        width:100vw;
        height:130vw;
        display: flex;
        align-items: center;
        
        
    }
    
}
